{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="login--wrapper">
        <header class="obj--container">
            <div class="obj rectangle background top"></div>
            <div class="content content--icon">
                <img src="{{ asset('svg/Login_Icon.svg') }}" class="svg svg--login">
            </div>
        </header>
        <form class="login--form" autocomplete="nope" method="post">
            <div class="input--wrapper">
                <input id="email" type="email" name="required-user" required="required">
                <label for="email">Tippe hier deine E-Mail ein :)</label>
            </div>
            <div class="input--wrapper">
                <input id="password" type="password" name="required-password" required="required">
                <label for="password">Tippe hier dein Passwort ein ;)</label>
            </div>

            <div class="form--actions">
                <button class="login--button" type="submit">Login</button>
                <a class="forgot-password--link" href="/">Passwort vergessen?
                    <br><span class="badge">?</span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}
